{% extends 'polls/base.html' %}
{% block content %}

<h1 class="list_title">{{ question.question_text }}</h1>
{% if error_message %} <p><strong>{{error_message}}</strong></p>{% endif %}
<form  id="detail_form" action="{% url 'polls:vote' question.id %}" method="POST">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter}}" value="{{choice.id}}">
    <label for="choice{{ forlooop.counter }}">{{ choice.choice_text}}</label><br>
{%endfor%}
<input type="submit" class="btn btn-success voteButton" value="Vote">

</form>

{% endblock %}